@charset "UTF-8";

input{
	color: gray; 
	width: 700px; 
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; 
}

#logo1 {
	width: 300px;
	height: auto;
	background-color: black;
	border-radius: 15px; 
	display: block;
	margin: auto;
	
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 700px; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px; 
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.td {
	bgcolor: black;
}

#footer {
	background-color: #016e90;
	color: #FFFFFF;
	position: fixed;
	height: 100px;
	width: 100%;
	bottom: 0px;	
	padding: 0;
}