@charset "UTF-8";

#catchphrase{
	display: block;
	margin: auto; 
	font-size: 35px;
	text-align: center; 
	font-family: Ubuntu;
	font-weight:bold;  
	color:black;
	margin-top:30px;
}
#cpTwo{
    display: block;
	margin: auto; 
	font-size: 35px;
	text-align: center; 
	font-family: Ubuntu;   
	font-weight:bold;  
	color:black;
}

#inp{
	margin-top:30px;
	text-align: center; 
	background-color:white;
}

#t{
	/* padding-right:300px; */
	padding-top:5px;
	padding-bottom:5px;
	
	width: 400px;
}

#photo{
	font-size: 120%;
}
#res{
	font-size: 120%;
}