#piano {
	background: #000000 url('../../images/piano.jpg') no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 500px; 
}
#tagline {
	padding-top: 80px;
}

#piano img {
	margin-bottom: 70px;	
	width: 350px;
	height: 170px;
	display: inline;
}

#buttons {
	width: 500px;;
	margin: 140px auto 0 auto;
}

#buttons button {
	background-color:rgba(0,0,0,.6);
	padding: 0.7rem 2.5rem !important;
	margin-right: 10px;
	margin-top: 80px;
	font-size: 1.7rem !important;
	color: #FFFFFF;
	border-radius: 0.6rem !important;
	border: 2px solid #FFFFFF;
}

#buttons button:hover {
	background-color: #00b4a8 !important;
}

/* start from left side and do 300 500 800 */
#create p{
	opacity:0;
	font-size: 75px;
	font-weight: 700;
	color: #FFFFFF;
	position: absolute;
	float: left;
	margin-top: 60px;
	animation-duration: 1.5s;
  	animation-name: slidein;
    animation-fill-mode: forwards;
}

#collaborate p{
	opacity:0;
    font-size: 75px;
	font-weight: 700;
	color: #FFFFFF;
	position: absolute;
	float: left;
	margin-top: 60px;
	animation-delay: 1.5s;
	animation-duration: 1.5s;
  	animation-name: slidein2;
    animation-fill-mode: forwards;
}

#resonate{
	opacity:0;
    font-size: 75px;
	font-weight: 700;
	color: #FFFFFF;
	position: absolute;
	float: left;
	animation-delay: 3s;
	animation-duration: 1.5s;
  	animation-name: slidein3;
    animation-fill-mode: forwards;
} 

@keyframes slidein {
  from {
    opacity:0;
    margin-left: 0%;
    width: 300%; 
  }

  to {
    opacity:1;
    margin-left: 10%;
    width: 100%;
  }
}

@keyframes slidein2 {
  from {
    opacity:0;
    margin-left: 0%;
    width: 300%; 
  }

  to {
    opacity:1;
    margin-left: 30%;
    width: 100%;
  }
}

@keyframes slidein3 {
  from {
    opacity:0;
    margin-left: 0%;
    width: 300%; 
  } 

  to {
    opacity:1;
    margin-left: 63%;
    width: 100%;
  }
} 
