#piano {
	background: #000000 url('../../images/piano.jpg') no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 500px; 
}
#tagline {
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}
#piano p {
	font-size: 100px;
	font-weight: 700;
	color: #FFFFFF;
	margin: 0;
	display: inline;
	float:left;
	padding: 75px 0 0 70px;
}

#piano img {
	width: 400px;
	height: 219px;
	display: inline;
}

#buttons {
	width: 500px;;
	margin: 140px auto 0 auto;
}

#buttons button {
	padding: 0.7rem 2.5rem !important;
	margin-right: 10px;
	font-size: 1.7rem !important;
	color: #FFFFFF;
	border-radius: 0.6rem !important;
	border: 2px solid #FFFFFF;
}

#buttons button:hover {
	background-color: #00b4a8 !important;
}