@charset "UTF-8";

hr{
	width: 90%;
}

table{
	border-collapse: collapse;
	display: block; 
	margin: auto;
	margin-left: 1cm;
	height: 1500px;
}

#projects {
	border-collapse: collapse;
	display: block; 
	margin: auto;
	margin-left: 2cm;
	margin-right: 2cm;
	padding-bottom: 1cm;	
	box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.6), 10px 10px 20px 10px rgba(0, 0, 0, 0.19);  
	color: white;
	border-radius: 10px;	
	background: linear-gradient(to bottom right, #f09021, black);
	<!--  #f09021; -->
}

#long {
	padding-top: 1cm;
	width: 300% !important;
}

#long1 {
	padding-top: 1cm;
	padding-left: 1cm;
	width: 300% !important;
}

#long2 {
	padding-left: 1cm;
	width: 300% !important;
	padding-top: 0;
}

#title {
	font-family: Courier;
	font-size: 30px; 
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 1px 1px #000000;
}

td{
	padding-left: 1cm;
	padding-bottom: 1cm;
}

td #createProject {
	margin-left: 0;
	padding-left: 0;
}


tr.border_bottom td {
  	border-bottom:2pt solid white;
  	margin-left: 1cm;
  	margin-right: 2cm;  	
}



#1 {
	float: left;
	margin-left: 1cm;
}


#2 {
	float: left;
	margin-left: 1cm;	
}

#image {
	height: 80px;
	width: auto;	
	border-radius: 10px;
	
}

#tableImg {
	margin-left: 1cm;
	border-radius: 10px;
	height: 80px; 
	width: auto; 
	margin-top: 1cm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ProjectTitle {
	font-size: 20px;
	font-weight: bold; 
	color: white; 
	text-shadow: 1px 1px 1px #000000;
	float: left;
}

#right {
	float: right;
}

#ProjectInfo {
	font-size: 15px;
	color: #aaaaaa;
	text-shadow: 1px 1px 1px #000000;
	float: left;	
}

#ProjectUpdate {
	font-size: 15px;
	color: #aaaaaa;
	text-align: left;
	text-shadow: 1px 1px 1px #000000;
	float: left;
}

#createProject {
	margin-left: 0;
	text-align: left;
	font-size: 30px;
	font-weight: bold; 
}

.button {
	float: right;
	margin-top: 5.5cm;
	margin-right: 2cm;
    background-color: #f09021;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: 300px; 
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 1px #000000;
}


