@charset "UTF-8";

#userIcon {
	border-radius: 50px;
	height: 150px; 
	width: auto; 
	margin-top: 1cm;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 10px 20px 20px 0 rgba(0, 0, 0, 0.19);  
}

#userPic {
	margin-left: 0.1cm; 
	padding: 10px; 
}

#fullname {
	align: center;
	text-align: center; 
	background-color: black; 
	color: white; 
	font-family: Courier; 
	font-size: 30px;
	word-spacing: 0px;
	letter-spacing: 0px;
	width: 250px;
	height:45px; 
	padding-left: 0.2cm;  
	opacity: 0.7;
	margin-bottom: 4px; 
	border-radius: 10px;
	
}

#username {
	text-align: center; 
	background-color: black; 
	color: gray; 
	font-family: Courier; 
	font-size: 20px;
	word-spacing: 0px;
	letter-spacing: 0px;
	width: 150px;
	height:40px; 
	opacity: 0.7;
	margin-top: 0;	
	border-radius: 10px;
	padding-top: 0.1cm;
}

#banner{
	width: 100%;
	height: 300px;
	padding-top: 0;
	margin-top: 0; 
	margin-right: 0.5cm; 
	background: red; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, black, #016e90); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, black, #016e90); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, black, #016e90); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, black, aquamarine); /* Standard syntax */
}

hr{
	width: 90%;
}

table{
	border-collapse: collapse;
	display: block; 
	margin: auto;
	margin-left: 1cm;
}

#projects {
	border-collapse: collapse;
	display: block; 
	margin: auto;
	margin-left: 2cm;
	margin-right: 2cm;
	padding-bottom: 1cm;	
	box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2), 10px 10px 20px 10px rgba(0, 0, 0, 0.19);  
	background-color: black;
	color: white;
	border-radius: 10px;	
	background: linear-gradient(to bottom, #f09021, black);
	<!--  #f09021; -->
}

#th {
	padding-top: 1cm;
	width: 100% important!;
}
#title {
	font-family: Courier;
	font-size: 30px; 
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 1px 1px #000000;
}

td{
	padding-left: 1cm;
	padding-bottom: 1cm;
	width: 200%;
}

td #createProject {
	margin-left: 0;
	padding-left: 0;
}


tr.border_bottom td {
  	border-bottom:2pt solid white;
  	margin-left: 1cm;
  	margin-right: 2cm;  	
}



#1 {
	float: left;
	margin-left: 1cm;
}


#2 {
	float: left;
	margin-left: 1cm;	
}

#image {
	height: 80px;
	width: auto;	
	border-radius: 10px;
	
}

#tableImg {
	margin-left: 1cm;
	border-radius: 10px;
	height: 80px; 
	width: auto; 
	margin-top: 1cm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ProjectTitle {
	font-size: 20px;
	font-weight: bold; 
	color: white; 
	text-shadow: 1px 1px 1px #000000;
	float: left;
}

#right {
	float: right;
}

#ProjectInfo {
	font-size: 15px;
	color: #aaaaaa;
	text-shadow: 1px 1px 1px #000000;
	float: left;	
}

#ProjectUpdate {
	font-size: 15px;
	color: #aaaaaa;
	text-align: left;
	text-shadow: 1px 1px 1px #000000;
	float: left;
}

#createProject {
	margin-left: 0;
	text-align: left;
	font-size: 30px;
	font-weight: bold; 
}

.button {
	float: right;
	margin-top: 5.5cm;
	margin-right: 2cm;
    background-color: #f09021;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    width: 300px; 
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 1px #000000;
}


