@charset "UTF-8";

#navbar {
	display: flex; 
	flex-direction: column;
}

#bio{
	background-color: white; 
	border-radius: 30px;	
	margin-top: 70px; 
	margin-bottom: 20px; 
	margin-left: 20px; 
	margin-right: 20px; 
	font-size: 25px; 
	padding: 20px;
	border-style: outset; 
	border-color: #f09021; 
	border-width: 10px;
}

#bio2{
	background-color: white; 
	border-radius: 30px;	
	font-size: 25px; 
	padding: 20px;
	border-style: outset; 
	border-color: #f09021; 
	border-width: 10px;
}

#myprojects{
	background-color: white; 
	border-radius: 30px;	
	margin-top: 70px; 
	margin-bottom: 20px; 
	margin-left: 20px; 
	margin-right: 20px; 
	font-size: 25px; 
	padding: 20px;
	border-style: outset; 
	border-color: #f09021; 
	border-width: 10px;
}

#myprojects2{
	background-color: white; 
	border-radius: 30px;	
	font-size: 25px; 
	padding: 20px;
	border-style: outset; 
	border-color: #f09021; 
	border-width: 10px;
}

#likedprojects{
	background-color: white; 
	border-radius: 30px;	
	margin-top: 70px; 
	margin-bottom: 20px; 
	margin-left: 20px; 
	margin-right: 20px; 
	font-size: 25px; 
	padding: 20px;
	border-style: outset; 
	border-color: #f09021; 
	border-width: 10px;
}

#likedprojects2{
	background-color: white; 
	border-radius: 30px;	
	font-size: 25px; 
	padding: 20px;
	border-style: outset; 
	border-color: #f09021; 
	border-width: 10px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#li_a_nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	width: 200px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #f09021;
}