@charset "UTF-8";

/* tr.border_bottom td {
  	border-bottom:1pt solid black;
  	margin-left: 1cm;
  	margin-right: 2cm;  	
}

tr {
	width: 500px;
} */

#projects {
	width: 100%;
	position:relative;
}

#td1 {
	padding: 0 !important;
}

#user {
	margin-left: 30px;
}

#title{
	font-size:120%;
	font-weight:bold;
}

#long2 {
	position: relative;
	right: 20px;
}

#createDate {
	font-size: 20px;
	text-align: right;
}

#myprojects{
	background-color: white; 
	font-size: 25px; 
	padding-top: 80px;
	padding-left: 70px; 
	padding-bottom: 70px;
	padding-right: 70px;
	border-style: outset; 
	border-color: #f09021; 
	border-width: 5px;
	width: 1020px; 
	position: relative;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

#navbar2 {
	padding-left: 0 !important; 
	background: #333;
	
}

u1 {
	position: relative;
	margin-top: 0 !important;
}

#li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	width: 200px;
}

#nav li a:hover {
	background-color: #f09021;
}

#tableImg {
	margin: 1cm;
	border-radius: 10px;
	height: 80px; 
	width: auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active {
	background-color: #111;
}

.button2 {
	margin-top:15px;
	/* margin-left: 10px; */
    background-color: #f09021;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: 500px; 
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 1px #000000;
    transition: all 0.5s;
  	cursor: pointer;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}